.app-header-section {

    background-color: $clr4;

}

.app-header {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
        font-size: .8em;
        padding: 5px;

    }

    nav a:first-child {
        margin-right: 30px;
    }

    nav a:not(:first-child) {
        padding: 0 5px;
        margin: 10px;
    }

    nav .active {
        color: $clr1;
    }

    h1 {
        margin-bottom: 0;
    }

}