.products-preview-section {
    text-align: center;
    padding-top:8px;

    &:hover {
        background-color: $clr4;
        border-radius: 3px;
    }

    img {
        max-height: 100px;
        object-fit: contain;
    }

    button {
        &:hover {
            background-color: #244c59;
        }
        
        &:active {
            background-color: #152D35;
        }
    }
}