.products-preview-section {
    text-align: center;
    padding-top:8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
        background-color: $clr4;
        border-radius: 3px;
    }

    img {
        max-height: 100px;
        object-fit: contain;
        margin: 4px 0;
    }
}