// Colors
$clr1: #152D35;
$clr2: #345B63;
$clr3: rgb(17, 32, 49);
$clr4: #D4ECDD;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;